* {
  margin: 0%;
  padding: 0%;
}





 .SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} 


button{
  background-color: rgb(88, 121, 199);
  font-weight: 100;
  
  border: 0;
  color: rgb(40,40,40);
 margin-top: 15px;
  width: 135px;
  height: 40px;
  
 
}


.SearchBar h3{
padding-left: 15px;
color: white;
margin-top: 20px;
text-align: left;

width: 200px;
align-self:flex-start;

}




header {
  
  background:rgb(117, 158, 218);
  display: flex;
  height: 70px;
  justify-content: space-around;

}

.Current h3:nth-child(2){
  color: white;
  margin:20px;
}

.Current h3:nth-child(3){
  margin: 20px;
}


.CurrentDetails {
  Display: flex;
  justify-content: center;
  flex-direction: row;

}


 .CurrentTemp{
  
  word-spacing: 5px;
} 




.Current h4{
 font-size:smaller;
  margin-left: 10px;
}


.Current {
  background-color: rgb(156, 206, 244);
}


.nextHrs {
  background-color: rgb(156, 206, 244);
  margin-top: -50px;
  padding-bottom: 50px;
}



.app {

   font-family: 'Raleway';
}

.time {
  display: flex;
  justify-content: space-around;
}
.icons {
  display: flex;
  justify-content: space-around;
}
.degrees {
  display: flex;
  justify-content: space-around;
}


.Current{
  
  padding-bottom: 15%;
  padding-top: 10%;
  
  text-align: center;
}